:root{
    --sky-blue: deepskyblue;
    /*--sky-blue: lightskyblue;*/
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
    background: url("../img/tiles/dirt.png");
}

#toolkit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 15px 0;
    background: black;
}

#logo {
    width: 40vw;
}

#toolkit .tool-container {
    border: 3px solid rgba(255,255,255,.8);
    margin: 10px 0;
    text-align: center;
    cursor: grab;
}

#toolkit .tool-container img {
    width: 90px;
}

#toolkit .tool-container p {
    color: white;
    margin: 3px 0;
}

#game-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--sky-blue);
    /*height: 100vh;   */
    /*width: auto;*/
}

#game-grid > div {
    background-color: blue;
}