:root{
    --sky-blue: deepskyblue;
    /*--sky-blue: lightskyblue;*/
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
    background: url("../img/tiles/dirt.png");
}

#toolkit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    padding: 15px;
    background: black;
}

#toolkit p {
    color: white;
    width: 100%;
}

.toolkit-subcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

#logo {
    width: 40vw;
}

#toolkit .toolkit-element {
    background: rgba(255,255,255,.6);
    border: 3px solid rgba(255,255,255,.5);
    text-align: center;
    cursor: grab;
}

#toolkit .toolkit-element img {
    width: 54px;
}

#toolkit .toolkit-element p {
    color: black;
    margin: 3px 0;
    font-size: 10px;
}

#game-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--sky-blue);
    /*height: 100vh;   */
    /*width: auto;*/
}

#game-grid > div {
    background-color: blue;
    font-size: 10px;
}

#toolkit .toolkit-element:hover {
    border-color: rgba(0, 38, 255, 1);
}

#toolkit .toolkit-element.active {
    border-color: rgba(0, 38, 255, 1);
}