:root{
    --sky-blue: deepskyblue;
    /*--sky-blue: lightskyblue;*/
    --toolkitWidth: 150px;  /* J'ai pas reussi a l'utiliser... */
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    /* width: ( 100vw - 150px ); */
    flex-grow: 1;
    background: url("../img/tiles/dirt.png");
    overflow-x: scroll;
}

#toolkit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    min-width: 150px;
    padding: 15px;
    background: black;
}

#toolkit p {
    color: white;
    width: 100%;
}

.toolkit-subcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

#logo {
    width: 40vw;
}

#toolkit .toolkit-element {
    background: rgba(255,255,255,.6);
    border: 3px solid rgba(255,255,255,.5);
    text-align: center;
    cursor: grab;
}

#toolkit .toolkit-element img {
    width: 54px;
}

#toolkit .toolkit-element p {
    color: black;
    margin: 3px 0;
    font-size: 10px;
}

#game-grid {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--sky-blue);
    /*height: 100%;   */
    min-width: 100%;
    height: min-content;
}

#game-grid > div {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 10px;
    height: 50px;
    width: 50px;
    background-size: cover;
}

#game-grid > div:hover {
    box-shadow: 0 0 0 1.5px white inset;
}

#toolkit .toolkit-element:hover {
    border-color: rgba(0, 38, 255, 1);
}

#toolkit .toolkit-element.active {
    border-color: rgba(0, 38, 255, 1);
}