@font-face {
    font-family: minecraft;
    src: url("../fonts/Minecrafter.Reg.ttf");
}

* {
    font-family: minecraft;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
}

button {
    background: white;
    padding: 5px 20px;
    border: 2px solid black;
    font-size: 1.2em;
    cursor: pointer;
}

button:focus {
    outline: none;
}