@font-face {
    font-family: minecraft;
    src: url("../fonts/Minecrafter.Reg.ttf");
}

* {
    font-family: minecraft;
}

body {
    display: flex;
    margin: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
    background: url("../img/tiles/dirt.png");
}

#toolkit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 15px 0;
    background: black;
}

#logo {
    width: 40vw;
}

.start-game {
    background: white;
    padding: 5px 20px;
    border: 2px solid black;
    font-size: 1.2em;
}

.start-game:focus {
    outline: none;
}

#toolkit .tool-container {
    border: 3px solid rgba(255,255,255,.8);
    margin: 10px 0;
    text-align: center;
}

#toolkit .tool-container img {
    width: 90px;
}

#toolkit .tool-container p {
    color: white;
    margin: 3px 0;
}